/* Default Stuff  */

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

/* Dark Mode */

.bf-body-dark-mode {
    background: rgb(38, 38, 38);
    color: rgb(204, 204, 204);
    border-top: rgb(204, 204, 204);
}

 
/* Header */

body {
    font-family: 'Nunito', Arial, sans-serif;
    background: beige;
}


.banana-logo {
    max-width: 75px;
}

.bf-nav-outercontainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
    margin: 10px 30px 10px 30px;
}

.bf-logo-innertext a{
    color: black;
}


.bf-logo-container {
    background-image: url("./assets/banana_2.svg");
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}


.bf-logo-container a {
    color: black;
}

.bf-logo-container a:visited {
    color: black;
}

.bf-header-right ul {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    font-weight: 500;
    font-size: 24px;
    gap: 40px;
    padding-top: 30px;
}

.bf-navigation li {
    align-self: flex-end;
}

.bf-navlink{
    text-decoration: none;
    color: black;
}

.bf-navlink:hover {
    color: orangered;
}

.bf-nav-dark-mode {
    color: rgb(204, 204, 204);
}

.hamburger {
    max-width: 36px;
    display: none;
    overflow: hidden;
}

.hamburger-clicked {
    margin-top: 190px;
}

.hamburger > img {
    max-width: 100%;
}

.navigation {
    float: right;
}

.horizontal-nav {
    padding: 0;
    list-style: none;
}

.horizontal-nav li {
    display: inline-block;
}


/* Index CSS */

.bf-homepage-hero {
    min-height: 400px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0px 30px 10px 30px;
    background-image: url(./assets/Woman_selling_green_unripe_banana.png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 0% 65%;
    border-radius: 4px;

}

.bf-homepage-hero-1200 {
    display: none;
}


.bf-homepage-hero-innerbox {
    width: 30%;
    margin-right: 250px;
    padding: 40px;
    background: rgba(240, 240, 240, .90);
    border-radius: 5px;
    font-size: 24px;
    margin: 20px 200px 20px 0px;
}

.bf-homepage-hero-innerbox-dark-mode {
    background: rgba(38, 38, 38, .90);
    color: rgb(204, 204, 204);
}

.bf-homepage-hero-innerbox h2 {
    text-align: center;
    font-weight: 600;
}

.bf-homepage-hero-innerbox p {
    padding: 10px;
    height: 75%;
    width: 100%;
    text-align: center;
}

.bf-homepage-innerbox-register {
    border-radius: 10px;
    background: gold;
    cursor: pointer;
    border-bottom: 3px solid goldenrod;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px 20px 10px 20px;
    display: block;
    margin: 15px auto;
    font-size: 42px;
    font-weight: 700;
}

.bf-homepage-innerbox-register-dark {
    color: gray;
}

.bf-homepage-innerbox-register:hover {
    border-radius: 10px;
    background: goldenrod;
    cursor: pointer;
    color: black;
    font-weight: 700px;
    text-align: center;
    padding: 20px;
    margin: 10px 20px 10px 20px;
    display: block;
    margin: 15px auto;
    font-size: 42px;
}

.bf-homepage-innerbox-register-dark:hover{
    color: black;
}

.bf-testamonial-container {
    display: flex;
    gap: 10px;
    min-height: 350px;
    margin: 20px 30px 10px 30px;
    justify-content: center;
}

.bf-test-dimensions {
    border: 4px solid tomato;
    min-width: 25%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.bf-test-dimensions-dark-mode {
    border: 4px solid rgb(204, 204, 204);
}

.bf-story-button {
    border-radius: 10px;
    background: gold;
    /* cursor: pointer; */
    /* border-bottom: 3px solid goldenrod; */
    color: black;
    text-align: center;
    padding: 5px;
    display: block;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 700;
}

/* .bf-story-button:hover {
    border-radius: 10px;
    background: goldenrod;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 5px;
    display: block;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 700;
} */


.bf-test-dimensions {
    width: 33%;
    overflow: hidden;
}

.bf-test-image-dimensions {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 40% 20%;
}

.bf-banana-test-image-3{
    object-position: 0% 70%;
    border-left: none;    
}

/* Footer */

.bf-footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin: 0px 30px 0px 30px;
    background: orange;
    color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.bf-theme-box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.bf-footer-dark {
    background: black;
    color: rgb(204, 204, 204);
}

.bf-footer-nav-list {
    display: flex;
    gap: 30px;
}

.bf-footer-button-dark {
    border-radius: 10px;
    height: 25px;
    width: 65px;
    background: darkgray;
    cursor: pointer;
    border-bottom: 3px solid gray;
    color: black;
    font-weight: 600;
    text-align: center;
}

.bf-footer-button-light {
    border-radius: 10px;
    height: 25px;
    width: 65px;
    background: white;
    cursor: pointer;
    border-bottom: 3px solid rgb(204, 204, 204);
    color: black;
    font-weight: 600;
    text-align: center;
}

.bf-footer-button-dark:hover{
    background: gray;
    border-bottom: 3px solid rgb(34, 34, 34);
    color: black;
}

.bf-footer-button-light:hover{
    background: rgb(204, 204, 204);
    border-bottom: 3px solid rgb(34, 34, 34);
    color: black;
}

.bf-footer-click {
    color: black;
    background: gray;
    border-bottom: 0px;
    box-shadow: 0px 2px 2px 2px black inset;
    cursor: pointer;
    font-weight: 600;
    height: 25px;
    width: 65px;
    margin-top: 1px;
    border-radius: 10px;
    text-align: center;
    padding-top: 2px;
}
.bf-footer-click-disable {
    pointer-events: none;
}
.bf-footer-click-enable {
    pointer-events: auto;
}


/* Registration CSS */

.bf-registration-form {
    width: 50%;
    margin: 0 auto;
}

.bf-form-body {
    height: 750px;
    padding: 5%;
    display: inline-block;
    
}

.form-label {
    padding: 5px 5px 0px 5px;
    display: block;
}

.form-text {
    margin-bottom: 20px;
}

.form-button {
    margin-top: 50px;
}

.bf-registration-container {
    border-top: solid black 2px;
    display: flex;
    gap: 0px;
    margin: 0 30px 0 30px;
    padding-top: 10px;
}

.bf-registration-container-dark {
    border-top: solid 2px rgb(204, 204, 204);
}

.bf-register-banana {
    width: 120%;
    padding-right: 50px;
}

/* Team Page CSS */

.bf-about-card-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 30px 20px 30px;
    border-top: 2px black solid;
}

.bf-about-card-container-dark {
    border-top: 2px solid rgb(204, 204, 204);
}

.bf-about-card {
    border-radius: 10px;
    padding-top: 20px;
}

.bf-card-img-top {
    width: 100%;
    height: 384px;
}

.bf-card-body {
    padding: 10px;
    background: white;
} 

.bf-card-body-dark {
    background: rgb(28, 28, 28);
}

/* TOS CSS */

.tos-container {
    display: flex;
    justify-content: center;
    border-top: 2px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 30px 0px 30px;
}


/* About CSS */

.bf-about-container {
    display: block;
    justify-content: flex-start;
    text-align: left;
    border-top: 2px black solid;
    text-align: center;
    margin: 0px 30px 30px 30px;

}

.bf-about-container h1 {
    vertical-align: middle;
}

.bf-about-container-dark {
    border-top: 2px solid rgb(204, 204, 204);
}

.about-content{
    text-align: left;
    padding-top: 100px;
    margin-right: 500px;
    margin-left: 200px;
}

.about-content h2 {
    margin-bottom: 400px;
}

.about-content p {
    font-size: 8px;
}


@media only screen and (max-width: 1200px){
    
    /* Index Body when width < 1200px */
    
    .bf-homepage-hero {
        display: none;
    }
    
    .bf-testamonial-container {
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    .bf-test-dimensions {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .bf-homepage-hero-1200{
        margin-top: 10px;
        padding: 20px 20px 20px 20px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-top: solid black 2px;
    }
    
    .bf-homepage-hero-1200-hamclicked {
        padding-top: 500px;
    }

    .bf-homepage-hero-1200 h2 {
        font-weight: 700;
        font-size: 32px;
    }

    .bf-homepage-hero-1200 p {
        font-size: 24px;
    }

    .bf-homepage-button-1200 {
        width: 70%;
    }

    .bf-story-button {
        display: none;
    }

    .bf-test-hover {
        padding-top: 10px;
    }
    
    /* Registration body when width < 1200px */

    /* About body when width < 1200px */

    .bf-register-banana {
        display: none;
    }

    .bf-about-card-container {
        display: block;
    }

    .bf-about-card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-content {
        margin-right: 50px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 992px){
    /* Adjustments for Nav Links */
    .hamburger {
        display: block;
        float: right;
    }

    .navigation {
        display: none;
        width: auto;
        float: none;
    }

    .showNav {
        display: block;
    }

    .horizontal-nav {
        display: block;
        flex-direction: column;
        align-items: flex-end;
    }

    .horizontal-nav li {
        gap: 0;
    }

    .bf-navigation li {
        margin-right: 0;
    }

    .bf-header-right ul {
        gap: 0;
    }

    .bf-homepage-innberbox-1200 {
        width: 85%;
    }

    .tos-container iframe {
        width: 560px;
        height: 297px;
    }

    .bf-footer-left {
        display: none;
    }

    .bf-footer-right {
        display: none;
    }

    .bf-theme-box {
        margin-left: 200px;
    }
}